services:
    frpc:
        container_name: dev_frpc
        image: docker.io/fatedier/frpc:v0.65.0
        restart: unless-stopped
        volumes:
            - ./frpc.toml:/etc/frp/frpc.toml
        command: -c /etc/frp/frpc.toml
    mysql:
        container_name: dev_mysql
        image: docker.io/library/mysql:8
        restart: unless-stopped
        ports:
            - 3306:3306
        networks:
            - mysql
        volumes:
            - mysql:/var/lib/mysql
        environment:
            MYSQL_ROOT_PASSWORD: password
            TZ: Asia/Taipei
    phpmyadmin:
        container_name: dev_phpmyadmin
        image: docker.io/library/phpmyadmin:5
        restart: unless-stopped
        ports:
            - "8000:80"
        networks:
            - mysql
        environment:
            PMA_HOST: dev_mysql
    mongo:
        container_name: dev_mongo
        image: docker.io/library/mongo:8
        restart: unless-stopped
        ports:
            - "27017:27017"
        networks:
            - mongo
        volumes:
            - mongo:/data/db
        environment:
            MONGO_INITDB_ROOT_USERNAME: root
            MONGO_INITDB_ROOT_PASSWORD: password
    mongo-express:
        container_name: dev_mongo_express
        image: docker.io/library/mongo-express:1
        restart: unless-stopped
        ports:
            - "8001:8081"
        networks:
            - mongo
        environment:
            ME_CONFIG_MONGODB_SERVER: dev_mongo
            ME_CONFIG_BASICAUTH_USERNAME: root
            ME_CONFIG_BASICAUTH_PASSWORD: password
            ME_CONFIG_MONGODB_ADMINUSERNAME: root
            ME_CONFIG_MONGODB_ADMINPASSWORD: password
volumes:
    mysql:
        name: dev_mysql
    mongo:
        name: dev_mongo

networks:
    mysql:
        name: dev_mysql
    mongo:
        name: dev_mongo
